<!DOCTYPE html>
  <%- include('../partials/header') %>
<html lang="en">
<body>
  <%- include('../partials/topMenu') %>
    <h2>All Flights</h2>
    <table class="styled-table">
        <thead>
          <tr>
            <th>Airline</th>
            <th>Airport</th>
            <th>Flight Number</th>
            <th>Departs</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
    
          <% flights.forEach(f => { %>
            <tr>
              <td><%= f.airline %></td>
              <td><%= f.airport %></td>
              <td><%= f.flightNo %></td>
              <td><%= f.departs.toLocaleString() %></td>
              <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
            </tr>
            <% }) %>
        </tbody>
      </table>
</div>
</body>
</html>